<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="картина, искусство, магазин, живопись">
		<meta name="description" content="Оффлайн-магазин репродукций мирового искусства">
        <link rel="stylesheet" type="text/css" href="styles/slick.css">
        <link rel="stylesheet" type="text/css" href="styles/slick-theme.css">
        <link rel="stylesheet" type="text/css" href="styles/magnific-popup.css">
        <link href="styles/style.css" rel="stylesheet">

		<title>Репродукцио</title>
	</head>
    <body >
      <div class="wrapper">
       <header class="main-header">
            <div class="head-title">
                <h1><a href="index.html">Репро</h1>
                <h1>дукцио</a></h1>
                <p>Оффлайн-магазин репродукций мирового искусства</p>
                <adress>
                <p class="contacts"><a href="https://goo.gl/maps/6jGziGzvASeXvGXr6">Санкт-Петербург</p>
                <p class="contacts">ул. Адмирала Черокова, 18</a></p>
                <p class="number"><a href="callto:+78129602201">+7 812 960-22-01</a></p>
                <p class="contacts"><a href="mailto:shop@reproduct.io">shop@reproduct.io</a></p>
                </adress>
            </div>
       <div class="js-head-slider">
            <div><img class="head-slider-pic" src="../assets/img/picture0.jpg" alt="Рождение Венеры">
                <div class="head-pic-text">
                    <div class="head-author">
                        <h3 class="pic-name">Рождение Венеры</h3>
                        <p class="pic-desk">Ян Вермеер</p>
                    </div>
                    <div class="head-desc">
                        <p class="pic-size">44 × 39 см,холст</p>
                        <p class="price">900 ₽</p>
                    </div>
                </div>
            </div>
            <div><img class="head-slider-pic" src="../assets/img/picture-1.jpg" alt="Девушка с жемчужной сережкой">
                <div class="head-pic-text">
                    <div class="head-author">
                        <h3 class="pic-name">Рождение Венеры</h3>
                        <p class="pic-desk">Ян Вермеер</p>
                    </div>
                    <div class="head-desc">
                        <p class="pic-size">44 × 39 см,холст</p>
                        <p class="price">900 ₽</p>
                    </div>
                </div>
            </div>
            <div ><img class="head-slider-pic" src="../assets/img/picture-2.jpg" alt="Девушка с жемчужной сережкой">
                <div class="head-pic-text">
                    <div class="head-author">
                        <h3 class="pic-name">Рождение Венеры</h3>
                        <p class="pic-desk">Ян Вермеер</p>
                    </div>
                    <div class="head-desc">
                        <p class="pic-size">44 × 39 см,холст</p>
                        <p class="price">900 ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-head-slider-nav">
            <div class="nav-slide">
                <img class="head-slider-nav-pic" src="../assets/img/picture0.jpg" alt="Рождение Венеры">
                
             </div>
            <div class="nav-slide">
                <img class="head-slider-nav-pic" src="../assets/img/picture-1.jpg" alt="Девушка с жемчужной сережкой">
                
            </div>
            <div class="nav-slide">
                <img class="head-slider-nav-pic" src="../assets/img/picture-2.jpg" alt="Девушка с жемчужной сережкой">
               
            </div>
        </div>
       
       </header>
       <main class="main-content">
        <div class="main-title">
            <h1>Популярное</h1>
            <p>Нестареющая классика и бестселлеры</p>
        </div>
        <div class="js-main-slider">
            <div>
                <img class="main-slider-pic" id="lady" src="../assets/img/picture1.jpg" alt="Девушка с жемчужной сережкой">
                <div class="pic-text">
                    <h3 class="pic-name">Девушка с жемчужной сережкой</h3>
                    <p class="pic-desk">Ян Вермеер</p>
                    <p class="pic-size">44 × 39 см,холст</p>
                    <p class="price">900 ₽</p>
                </div>
            </div>
            <div>
                <img class="main-slider-pic" src="../assets/img/picture2.jpg" alt="Бонапарт на перевале">
                <div class="pic-text">
                    <h3 class="pic-name">Бонапарт на перевале</h3>
                    <p class="pic-desk">Жан-Луи Давид</p>
                    <p class="pic-size">261 × 220 см,холст</p>
                    <p class="price">3 900 ₽</p>
                </div>
            </div>
            <div>
                <img class="main-slider-pic" src="../assets/img/picture3.jpg" alt="Охотники на снегу">
                <div class="pic-text">
                    <h3 class="pic-name">Охотники на снегу</h3>
                    <p class="pic-desk">Питер Брейгель Старший</p>
                    <p class="pic-size">117 × 162 см,холст</p>
                    <p class="price">2 400 ₽</p>
                </div>
            </div>
            <div>
                <img class="main-slider-pic" src="../assets/img/picture4.jpg" alt="Ирисы">
                <div class="pic-text">
                    <h3 class="pic-name">Девушка с жемчужной сережкой</h3>
                    <p class="pic-desk">Питер Брейгель Старший</p>
                    <p class="pic-size">117 × 162 см,холст</p>
                    <p class="price">2 400 ₽</p>
                </div>
            </div>
            <div>
                <img class="main-slider-pic" src="../assets/img/picture5.jpg" alt="Крик">
                <div class="pic-text">
                    <h3 class="pic-name">Девушка с жемчужной сережкой</h3>
                    <p class="pic-desk">Питер Брейгель Старший</p>
                    <p class="pic-size">117 × 162 см,холст</p>
                    <p class="price">2 400 ₽</p>
                </div>
            </div>
        </div>
       </main>
       <footer class="main-footer">
       <div class="foot-title">
            <h1>Написать нам</h1>
            <p>Заполните форму справа или оставьте письмо на shop@reproduct.io</p>
            <p class="copyright">Репродукцио, 2019</p>
            <p><a class="js-link-popup" href="#privacy">Правила обработки персональных данных</a></p>

            <div class="hidden">
                <div id="privacy">
                    <h1>Правила обработки персональных данных </h1>
                    <p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ N° 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:</p>
                    <ul>
                        <li>Осуществление клиентской поддержки;</li>
                        <li>Получения Пользователем информации о маркетинговых событиях; </li>
                        <li>Проведения аудита и внутренних исследований с целью повышения качества предоставляемых услуг. </li>
                    </ul>
                    <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя, такая как:</p>
                    <ul>
                        <li>Фамилия, имя и отчество </li>
                    </ul>
                    <p>Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства. </p>
                    <p> Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</p>
                    <p>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ </p>
                    <p>Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте. </p>
                </div>
            </div>
       </div>
       <div class="foot-form">
            <form id="form-messsage" onsubmit="valid(this)">
                <div class="form-style">
                    <div>
                        <input type="email" name="email" placeholder="Ваш e-mail" autocomplete="on" id="email" required> 
                    </div>
                    <div>
                        <textarea  placeholder="Сообщение" required></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Отправить" name="submit" class="submit">
                    </div>
                </div>
            </form>
            <div id="sent">
                <h1>Отправлено</h1>
                <p>Мы ответим вам на почту в течение 5 рабочих дней</p>
            </div>
       </div>
       
       </footer>
       </div>
       <script type="text/javascript" src="scripts/jquery-3.0.0.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.magnific-popup.js"></script>
       <script type="text/javascript" src="scripts/slick.js">
       
       </script>
        <script type="text/javascript" src="scripts/script.js"> </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.js-main-slider').slick({
                      slidesToShow: 3,
                      slidesToScroll: 1,
                      autoplay: true,
                      autoplaySpeed: 2000,
                      arrows:true,
                      swipeToSlide:true
                });

            });
             $('.js-head-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.js-head-slider-nav'
                });
                $('.js-head-slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.js-head-slider',
                dots: true,
                centerMode: true,
                focusOnSelect: true,
                vertical: true
                });
                $(document).ready(function() {
                 $(".js-link-popup").magnificPopup();
            });
        </script>
    </body>
</html>